<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quizzify - Play</title>
  
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
   <style>
body{
      background-color: #ecf5ff !important;
    }
    button{
      background-color:#f6faff !important
    }
   </style>
  </head>
  <body>
    {% include "header.html" %}
    <div class="page-wrapper">
      <!-- Page header -->
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <h2 class="page-title">
               Select Quizz
              </h2>
            </div>
          </div>
        </div>
      </div>
      <!-- Page body -->
      <div class="page-body">
        <div class="container-xl">
          <div class="card">
            <div class="card-body">
              <div class="accordion" id="accordion-example">
                {% for i in data %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading{{ i.courseName }}">
                    <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ i.courseName }}" aria-expanded="true">
                      {{i.courseName}}
                    </button>
                  </h2>
                  
                  <div id="collapse{{ i.courseName }}" class="accordion-collapse collapse " data-bs-parent="#accordion-example">
                    {% for x in exam %}
                    {%if i.id == x.courseId.id %}
                    <div class="accordion-body pt-0">
                      <strong>{{x.quizname}}</strong> <code>{{ x.no_of_quest}}<a href="/quizz/{{x.id}}">Start</a></code>
                    </div>
                    {%  endif %}
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
              
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  </body>
</html>