<!doctype html>

<html lang="en">
    {% load static %}

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Awesome Quizz</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  
  </head>
  <body >
   
    <div class="page">
      <!-- Navbar -->
       
        {% include "header.html" %}
                

              
               
           
       
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">
                  Alerts
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
                {% for i in userdata %}
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <!-- <h2 class="card-title">Basic alerts</h2> -->
                    <p class="text-secondary">{{i.index}}. {{i.question}}</p>
                    <div class="alert  alert-info" role="alert">
                    A. {{i.A}}
                    </div>
                    <div class="alert alert-info" role="alert">
                        B.{{i.B}}
                    </div>
                    <div class="alert  alert-info" role="alert">
                        C. {{i.C}}
                    </div>
                    <div class="alert alert-info" role="alert">
                        D. {{i.D}}
                    </div>
                  </div>
                </div>
              </div>
              <input type="hidden" class="user-ans" id="userans{{i.index}}" value="{{i.userAns}}">
    <input type="hidden" class="ans" id="ans{{i.index}}" value="{{i.ans}}">
              {% endfor %}
             
            </div>
          </div>
        </div>
      
      </div>
    </div>
    <script>
        var updateps = document.getElementsByClassName('user-ans')
          for (i = 1; i <= updateps.length; i++) {
      
      
              var userans=document.getElementById("userans"+i).value
              var ans=document.getElementById("ans"+i).value
      
              
                if (userans=='a'){
                  document.getElementById("op1"+i).classList.add("alert-success")
      
                }
                if (userans=='b'){
                  document.getElementById("op2"+i).style.backgroundColor = 'green'
      
                }
                if (userans=='c'){
                  document.getElementById("op3"+i).style.backgroundColor = 'green'
      
                }
                if (userans=='d'){
                  document.getElementById("op4"+i).style.backgroundColor = 'green'
      
                }
              
                if (userans=='a'){
                  document.getElementById("op1"+i).classList.add("alert-danger")
      
                }
                if (userans=='b'){
                  document.getElementById("op2"+i).classList.add("alert-danger")
      
                }
                if (userans=='c'){
                  document.getElementById("op3"+i).classList.add("alert-danger")
      
                }
                if (userans=='d'){
                  document.getElementById("op4"+i).classList.add("alert-danger")
      
                }
                if (ans=='a'){
                  document.getElementById("op1"+i).classList.add("alert-danger")
      
                }
                if (ans=='b'){
                  document.getElementById("op2"+i).style.backgroundColor = 'green'
      
                }
                if (ans=='c'){
                  document.getElementById("op3"+i).classList.add("alert-danger")
      
                }
                if (ans=='d'){
                  document.getElementById("op4"+i).classList.add("alert-danger")
      
                }
              }
      
      
            
          
        </script>
  </body>
</html>